*{
	box-sizing:border-box;
	margin:0;
	padding: 0;
}

body{
	font-size: 16px;
	font-family: Arial, sans-serif;
}
/*******************   MENU   *********************/
	nav{
		background:rgba(100,100,100,.8);
		float:left;
		height: 100vh;
		position:relative;
		width:60vw;
		z-index: 10;
	}
		nav > i{
			color:#fff;
			padding:.5em;
			position: absolute;
			right: .5em;
		}
		nav > ul{
		}
			nav > ul > li{
				padding:.5em;
			}
				nav > ul > li > a{
					color:#fff;
					text-decoration: none;
				}

/*******************   HEADER   *********************/

	header{
		background:rgba(100,100,100,.8);
		height:50px;
		position:fixed;
		z-index: 1;
	}
		header > a > div.idV{
			position:absolute;
			right:50%;
			transform: translateX(50%);
			width:20%;
			height:85%;
			background-image: url('../img/idVMobile.png');
			background-size: contain;
			background-repeat: no-repeat;
			z-index: 1;
		}


/*******************   MAIN   *********************/

	main{
		z-index: 0;
		float:left;
		position:absolute;
	}
		section{
			height:calc(100vh - 50px);
			padding:1em;
			overflow: hidden;
		}
			section:first-child{
				margin-top: 50px;
			}

			h1, h2{
				color: #333;
				display:block;
				text-align: center;
			}


			section.capa{
				background-image: url('../img/fndcapa.png');
			}
			section.bg1{
				background-image: url('../img/fndForm.png');
			}
			section.bg2{
				background-image: url('../img/fndForm2.png');
			}
			section.bg3{
				background-image: url('../img/fndForm3.png');
			}
				section.capa, section.infos-bg{
					background-position: 50% 50%;
					background-size: cover;
				}

			.infos h2:after, .infos-bg h2:after,.infos h1:after, .infos-bg h1:after{
				background-color: #333;
				content: "";
				display: block;
				height: 4px;
				margin: 5px auto 15px auto;
				width: 15%;
			}
			.infos-bg h1, .infos-bg h2{
				color:#fff;
				margin-top: 1em;
			}
			.infos-bg h1:after, .infos-bg h2:after{
				background-color: #fff;
			}

			.infos-bg > p, .infos > p{
				font-size: 1.2em;
				margin-top: 1.5em;
				text-align: justify;
			}
				.infos-bg > p{
					color:#fff;
				}
				.infos > p{
					color:#3e3e3e;
				}


/*******************   GALERIA   *********************/

	.gallery{
		text-align: center;
	}

		.gallery div{
			padding:.4em;
			margin:0 auto;
			text-align: center;
		}

			.gallery div > figure{
				margin:0 auto;
				text-align: center;
			}	

				.gallery div > figure > img{
					width:80%;
					max-height: 50%;
				}

/*******************   FORMULÃRIO   *********************/

form{
	width:100vw;
}
label{
	display:block;
	font-size: 1.2em;
	margin-left: 6px;
}
input, textarea{
	border:1px solid #ccc;
	font-size: 1em;
	height:2.5em;
	margin: 0 auto 5px auto;
	padding:5px;
	width:90vw;
}
	input[type="submit"]{
		margin-top: 10px;
	}
textarea{
	height:8em;
}


@media screen and (max-width: 767px){
	.col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
		float: left;
	}
	.col-sm-12 {
		width: 100%;
	}
	.col-sm-11 {
		width: 91.66666667%;
	}
	.col-sm-10 {
		width: 83.33333333%;
	}
	.col-sm-9 {
		width: 75%;
	}
	.col-sm-8 {
		width: 66.66666667%;
	}
	.col-sm-7 {
		width: 58.33333333%;
	}
	.col-sm-6 {
		width: 50%;
	}
	.col-sm-5 {
		width: 41.66666667%;
	}
	.col-sm-4 {
		width: 33.33333333%;
	}
	.col-sm-3 {
		width: 25%;
	}
	.col-sm-2 {
		width: 16.66666667%;
	}
	.col-sm-1 {
		width: 8.33333333%;
	}
	.col-sm-05 {
		width: 4%;
	}

	.noMobile{
		display:none;
	}
	.onlyMobile{
		display:block;
	}

}
@media screen and (min-width: 768px){
	
		.col{
		float:left;
		}
		.col + .col{
			margin-left: .5em;
		}
			.col-tm-1{
				width:calc((100% - ((12 - 1) * .5em)) / 12);
			}
			.col-tm-2{
				width:calc(((100% - ((12 - 1) * .5em)) / 12) * 2 + ((2 - 1) * .5em));
			}
			.col-tm-3{
				width:calc(((100% - ((12 - 1) * .5em)) / 12) * 3 + ((3 - 1) * .5em));
			}
			.col-tm-4{
				width:calc(((100% - ((12 - 1) * .5em)) / 12) * 4 + ((4 - 1) * .5em));
			}
			.col-tm-5{
				width:calc(((100% - ((12 - 1) * .5em)) / 12) * 5 + ((5 - 1) * .5em));
			}
			.col-tm-6{
				width:calc(((100% - ((12 - 1) * .5em)) / 12) * 6 + ((6 - 1) * .5em));
			}
			.col-tm-7{
				width:calc(((100% - ((12 - 1) * .5em)) / 12) * 7 + ((7 - 1) * .5em));
			}
			.col-tm-8{
				width:calc(((100% - ((12 - 1) * .5em)) / 12) * 8 + ((8 - 1) * .5em));
			}
			.col-tm-9{
				width:calc(((100% - ((12 - 1) * .5em)) / 12) * 9 + ((9 - 1) * .5em));
			}
			.col-tm-10{
				width:calc(((100% - ((12 - 1) * .5em)) / 12) * 10 + ((10 - 1) * .5em));
			}
			.col-tm-11{
				width:calc(((100% - ((12 - 1) * 1.5em)) / 12) * 11 + ((11 - 1) * 1.5em));
			}

			.col-tm-12{
				width:100%;
			}

			header > a > div.idV{
				position:absolute;
				right:50%;
				transform: translateX(50%);
				width:10%;
			}
}

@media screen and (min-width: 1024px){

	.row{
		padding:10px 0;
	}
	.col{
		float:left;
	}
		.col + .col{
			margin-left: 1.5em;
		}
			.col-lm-1{
				width:calc((100% - ((12 - 1) * 1.5em)) / 12);
			}
			.col-lm-2{
				width:calc(((100% - ((12 - 1) * 1.5em)) / 12) * 2 + ((2 - 1) * 1.5em));
			}
			.col-lm-3{
				width:calc(((100% - ((12 - 1) * 1.5em)) / 12) * 3 + ((3 - 1) * 1.5em));
			}
			.col-lm-4{
				width:calc(((100% - ((12 - 1) * 1.5em)) / 12) * 4 + ((4 - 1) * 1.5em));
			}
			.col-lm-5{
				width:calc(((100% - ((12 - 1) * 1.5em)) / 12) * 5 + ((5 - 1) * 1.5em));
			}
			.col-lm-6{
				width:calc(((100% - ((12 - 1) * 1.5em)) / 12) * 6 + ((6 - 1) * 1.5em));
			}
			.col-lm-7{
				width:calc(((100% - ((12 - 1) * 1.5em)) / 12) * 7 + ((7 - 1) * 1.5em));
			}
			.col-lm-8{
				width:calc(((100% - ((12 - 1) * 1.5em)) / 12) * 8 + ((8 - 1) * 1.5em));
			}
			.col-lm-9{
				width:calc(((100% - ((12 - 1) * 1.5em)) / 12) * 9 + ((9 - 1) * 1.5em));
			}
			.col-lm-10{
				width:calc(((100% - ((12 - 1) * 1.5em)) / 12) * 10 + ((10 - 1) * 1.5em));
			}
			.col-lm-11{
				width:calc(((100% - ((12 - 1) * 1.5em)) / 12) * 11 + ((11 - 1) * 1.5em));
			}

			.col-lm-12{
				width:100%;
			}



	nav{
		background:none;
		height:50px;
		width:100vw;
		position: fixed;
	}
		nav > ul{
			margin-left: 80px;
			height:100%;
		}
			nav > ul > li{
				display: inline-block;
				height:100%;
				padding:17px 5px;
			}
				nav > ul li:hover{
					border-bottom: 3px solid rgba(32, 46,245, 1);
				}
	
	header > a > div.idV{
		width:5%;
		height:90%;
		right:10px;
		transform: translateX(-50%);
	}

	.infos-bg h1, .infos-bg h2{
		color:#fff;
		margin-top: 3em;
		font-size: 1.2em;
	}

	form{
		width:90%;
		margin:0 auto;
	}
	input, textarea{
		width:100%;
	}
	.noMobile{
		display:block;
	}
	.onlyMobile, nav i{
		display:none;
	}


}